@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-sky-700 text-white font-semibold rounded-lg shadow-md hover:bg-sky-900 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-opacity-75 disabled:hover:bg-sky-700;
  }
	.btn-transparent {
		@apply py-2 px-4 text-sky-700 font-semibold rounded-lg hover:text-sky-900 focus:outline-none focus:text-sky-500;
	}
}

.btn-outline {
	position: relative;
	height: 30px;
	background-color: transparent;
}

.btn-outline::after {
	content: '';
	height: 100%;
	aspect-ratio: 1;
	display: block;
}

.btn-add:after {
	background: url(../public/img/icons/plus.svg) center/100% no-repeat;
}

.btn-remove::after{
	background: url(../public/img/icons/remove.svg) center/100% no-repeat;
}